---
const allProjects = await Astro.glob("../../content/projects/*.md")
import HomePageLayout from "../../layouts/HomePageLayout.astro"
import ProjectCard from "../../components/project/ProjectCard"
import "../../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>shekh md moinuddin</title>
	</head>
	<body>
        <HomePageLayout url="Projects">
            {
                allProjects.map((project) => (
                    <div class="w-[80%] m-auto my-[5rem]">
                        <ProjectCard title={project.frontmatter.title} description={project.frontmatter.description} image={project.frontmatter.image} codebaseUrl={project.frontmatter.codebaseUrl} projectUrl={project.frontmatter.projectUrl} videoUrl={project.frontmatter.videoUrl} client:load />
                    </div>
                ))
            }
        </HomePageLayout>
	</body>
</html>