---
const allProjects = await Astro.glob("../../content/projects/*.md")
import HomePageLayout from "../../layouts/HomePageLayout.astro"
import ProjectCard from "../../components/project/ProjectCard"
import "../../styles/global.css"
---

<HomePageLayout url="Projects">
    {
        allProjects.map((project) => (
            <div class="w-[80%] m-auto my-[5rem]">
                <ProjectCard title={project.frontmatter.title} description={project.frontmatter.description} image={project.frontmatter.image} codebaseUrl={project.frontmatter.codebaseUrl} projectUrl={project.frontmatter.projectUrl} videoUrl={project.frontmatter.videoUrl} client:load />
            </div>
        ))
    }
</HomePageLayout>